 html,
 body {
 	height: 100%;
 	background-color: #666666;
 }

 .jumbotron {
 	text-align: center;
 	background-color: #264d73;
 	color: #ffffff;
 }

 .navbar {
 	margin-top: -30px;
 }

 .container-fluid {
 	background-color: #eeeeee;
 }

.map {
	border: 2px solid #264d73;
	border-radius: 25px;
	height: 350px;
	padding: 10px;
	background-color: #eeeeee;

}

.results {
	border: 2px solid #264d73;
	border-radius: 25px;
	min-height: 350px;
	padding: 10px;
	background-color: #eeeeee;
}

footer {
	position: fixed;
	height: 7%;
	bottom: 0px;
	width: 83%;
	background-color: #eeeeee;
	text-align: center;
	color: #000000;
	line-height: 150%;
	border: 2px solid #264d73;
	border-radius: 25px;
}

#jumbotron {
	width: 100%;
	height: 200px;
}

#fg1 {
	margin-right: 0px;
	margin-left: 200px;
}

#search-input {
	border: 1px solid #254d73;
}

#zip-input {
	border: 1px solid #254d73;
}

#fg2 {
	margin-right: 0px;
	margin-left: 15px;
}

#search-button {
	margin-left: 15px;
}